@font-face {
  font-family: 'source_regular';
  src: url('/assets/fonts/source_regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_medium';
  src: url('/assets/fonts/source_medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_normal';
  src: url('/assets/fonts/source_normal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tensent';
  src: url('/assets/fonts/tensent_type.ttf');
  font-weight: normal;
  font-style: normal;
}
