@font-face {
  font-family: 'source_regular';
  src: url('/assets/fonts/source_regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_medium';
  src: url('/assets/fonts/source_medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_normal';
  src: url('/assets/fonts/source_normal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tensent';
  src: url('/assets/fonts/tensent_type.ttf');
  font-weight: normal;
  font-style: normal;
}

.bg {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 53.2px;
  display: flex;
  align-items: flex-end;

  &.orange-blue {
    background: url('/assets/img/bg_orange_blue.png') 100% / 100% no-repeat;
  }

  &.blue-orange {
    background: url('/assets/img/bg_blue_orange.png') 100% / 100% no-repeat;
  }
}

.content-card {
  width: 84.54%;
  height: 87.87%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px; /*px*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
