@font-face {
  font-family: 'source_regular';
  src: url('/assets/fonts/source_regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_medium';
  src: url('/assets/fonts/source_medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_normal';
  src: url('/assets/fonts/source_normal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tensent';
  src: url('/assets/fonts/tensent_type.ttf');
  font-weight: normal;
  font-style: normal;
}

.bg-orange-blue {
  height: 100%;
  position: relative;
  background: url('/assets/img/bg_orange_blue.png') 100% / 100% no-repeat;
}

.bg-blue-orange {
  height: 100%;
  position: relative;
  background: url('/assets/img/bg_blue_orange.png') 100% / 100% no-repeat;
}

.content-card {
  width: 84.54%;
  height: 81.5%;
  margin: 0 auto;
  position: absolute;
  background-color: #fff;
  bottom: 53.2px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px; /*px*/
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
