.content-card {
  padding: 0 21px;
  padding-top: 20.2px;
  padding-bottom: 19.8px;
  box-sizing: border-box;
  overflow-y: scroll;

  & > .question-title {
    font-family: 'source_medium';
    font-size: 25px;
    line-height: 43px;
    color: #707070;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
  }

  & > .question-content {
    width: 100%;
    box-sizing: border-box;

    &.two-choose-one {
      padding-bottom: 38px;

      & .image-box {
        height: 153px;
        margin-bottom: 25px;
      }
    }
  }
}

.grade-container {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  display: inline-block;
  margin-right: 6px;
  font-family: 'source_normal';
  position: absolute;
  left: 115px;
  top: 18px;

  & > .grade-number {
    font-family: 'tensent';
    font-size: 40px;
    line-height: 48px;
  }
}

.image-box {
  width: 100%;
  height: 157px;
  border: 1px solid #707070;
  border-radius: 10px; /*no*/
  overflow: hidden;
  margin-bottom: 24px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  &:nth-child(2) {
    margin-bottom: 44px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.options-container {
  & > button {
    margin-bottom: 14px;
  }
}
